@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webuploader上传 - 拉风的CC的测试程序</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Scripts/webuploader/webuploader.css" rel="stylesheet" />
    <style>
        .progress {
            position: relative;
            display: flex;
            height: 1rem;
            overflow: hidden;
            font-size: 0.75rem;
            background-color: #e9ecef;
            border-radius: 0.25rem;
            height: 20px;
        }

            .progress span {
                width: 0;
                display: block;
                height: 100%;
                background-color: #1483d8;
            }

            .progress label {
                position: absolute;
                top: 0;
                left: 0;
            }

        li {
            list-style: none
        }
    </style>
</head>
<body>
    <div style="margin:15px;">
        <h2>webuploader 分片上传 续传 秒传</h2>

        <div class="uploader-container">
            <div id="filelist"></div>
            <div id="filePicker"></div>
        </div>
    </div>
    <script src="~/Scripts/webuploader/jquery.js"></script><!--jquery版本不支持3.0+ 否则md5File不进入progress-->
    <script src="~/Scripts/webuploader/webuploader.min.js"></script>
    <script src="~/Scripts/webuploader/hook.js"></script>
    <script type="text/javascript">

        WebUploader.InstallHook({
            beforeSendFile: function (file) {//每个选中的文件上传前调用
                var deferred = $.Deferred()
                    , fileObj = $('#' + file.id);

                uploader.md5File(file, 0, 5 * 1024 * 1024)
                    //获取文件区间的md5值（0-5M）不填区间值获取整个文件的md5值
                    //IE9及以下会用flash把整个文件流都读到内存中，再从内存中截取区间值进行md5，所以flash下获取md5值非常慢

                    // 及时显示进度
                    // jq3.x版本不进progress方法
                    .progress(function (percentage) {
                        fileObj.find('.progress span').width(percentage * 100 + "%")
                        fileObj.find('.progress label').text("正在验证文件：" + parseInt(percentage * 100) + "%");
                    })
                    // 如果读取出错了，则通过reject告诉webuploader文件上传出错。
                    .fail(function () {
                        deferred.reject();
                    })
                    // 完成
                    .then(function (val) {
                        $.ajax({
                            url: '/Uploader/CheckFullFile',
                            data: { md5: val, ext: file.ext, size: file.size },
                            dataType: 'json',
                            success: function (res) {

                                uploader.options.formData.md5 = val;
                                file.md5 = val;//当前文件的md5值
                                file.uploadedChunkNums = res.chunkNums;//当前文件已经上传的分片数

                                fileObj.find('.progress span').width("0")
                                fileObj.find('.progress label').text("");
                                if (res.ifExist) {
                                    fileObj.find('.progress span').animate({ width: '100%' });
                                    fileObj.find('.progress label').text("上传成功！");
                                    uploader.skipFile(file);
                                }
                                deferred.resolve();
                            },
                            error: function () {
                                deferred.resolve();
                            }
                        });
                    });
                return deferred.promise();
            },
            beforeSend: function (block) {//每个chunk文件上传前调用
                var file = block.file,
                    deferred = $.Deferred();

                //如果不能保证已经上传的分片文件被人为破坏,就需要每次上传分片都检测一下分片的完整性
                if (block.chunk < file.uploadedChunkNums) {
                    deferred.reject();
                } else {
                    deferred.resolve();//只上传大于服务端序号的文件
                }

                //$.ajax({
                //    url: '/Uploader/CheckChunkFile',
                //    data: { md5: file.md5, chunk: block.chunk, chunkSize: (block.end - block.start) },
                //    dataType: 'json',
                //    success: function (res) {
                //        if (res.data) {
                //            deferred.reject();
                //        } else {

                //            deferred.resolve();
                //        }
                //    },
                //    error: function (err) {
                //        deferred.resolve();
                //    }
                //});
                return deferred.promise();

            }
        });
    </script>
    <script>
        // 实例化
        var uploader = WebUploader.create({
            pick: {
                id: '#filePicker',
                label: '点击选择文件'
            },
            auto: true,
            swf: '/Scripts/webuploader/Uploader.swf',
            chunked: true, //分片处理大文件
            chunkSize: 2 * 1024 * 1024,
            server: '/Uploader/Upload'
        });

        uploader.on('ready', function () {
            window.uploader = uploader;
        });
        uploader.on('fileQueued', function (file) {
            addFile(file);
        });
        // 文件上传成功,合并文件。
        uploader.on('uploadSuccess', function (file, res) {
            uploader.removeFile(file, true);
            var fileObj = $('#' + file.id);
            fileObj.find('.progress label').text("上传成功！");
            fileObj.fadeOut(2000, function () {
                fileObj.remove();
            });
            if (res && res.isUpload) {
                $.post('/Uploader/MergeFiles', { md5: file.md5, ext: file.ext },
                    function (data) {
                        if (data.isMerge) {
                            console.info('合并成功！');
                        } else {
                            console.info('合并失败！');
                        }
                    });
            }
        });
        uploader.on('uploadProgress', function (file, percentage) {
            var fileObj = $('#' + file.id);
            fileObj.find('.progress span').width(percentage * 100 + "%")
            fileObj.find('.progress label').text("正在上传：" + parseInt(percentage * 100) + "%");
        });

        function addFile(file) {
            var $queue = $('#filelist'),
                $li = $('<li id="' + file.id + '">' +
                    '<p class="title">' + file.name + '</p>' +
                    '<p class="progress"><span></span><label></label></p>' +
                    '</li>');

            $li.appendTo($queue);
        }
    </script>
</body>
</html>